@tailwind base;
@tailwind components;
@tailwind utilities;

ion-modal.search-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    --background:rgba(0,0,0,0.7);
}

ion-modal.search-modal.content {
    background-color: red;
}

.otp-input {
    border: 2px solid #7e7e7e;
    width: 75% !important;
    height: 5rem;
    border-radius: 1rem;
    text-align: center;
    margin-left: 0.5rem;
    background-color: white;
}

.otp-input:focus {
    outline: none !important;
    border: 2px solid var(--ion-color-primary);
}